@model List<Testapp.Models.Complain>



    <div class="row" style="align-content:center">

        <div class="col-md-10">



            <div class="container : col-md-12">
                <h2 style="font-family:Algerian;color:antiquewhite">Donor table</h2>
                <table class="table table-bordered" style="color:antiquewhite">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email Address</th>
                            <th>Contact Number</th>                            
                            <th>Subject</th>
                            <th>Message</th>                           
                            <th>Delete Complains</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var s in Model)
                        {
                            <tr>
                                <td>@s.Name</td>
                                <td>@s.Email</td>
                                <td>@s.ContactNumber</td>
                                <td>@s.Subject</td>
                                <td>@s.Message</td>                                                                
                                <td><a href="~/Complains/Delete/@s.Id"> Delete Complain</a></td>
                            </tr>

                        }


                    </tbody>
                </table>
            </div>

        </div>




    </div>





